<footer id="footer" class="site-footer">
  {% include footer-custom.html %}

  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%} 
  
  <div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ page.url | absolute_url }}';
        this.page.identifier = '{{ page.url | absolute_url }}';
    };
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = 'https://playstationdigital-com.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


  <div class="copyright">
    {% if site.copyright %}
      {{ site.copyright | markdownify }}
    {% else %}
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</p>
    {% endif %}
  </div>
</footer>
